@media only screen and (min-width: 0px) and (max-width:767px) {
    .main {
        margin: 4em 0.5em;
        margin-bottom: 2em;
        padding: 1em 1em;
    }
    #nav-list{
        display: none;
    }
    #nav-expand {
        display: fixed;
    }
}

@media only screen and (min-width: 768px) {
    #nav-list{
        display: inline-block;
    }
    #nav-expand {
        display: none;
    }
}